.home1 {
    padding: 20px;
    text-align: center;
  }
  
  .home1 .heading {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  
  .home1 .box-container1  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  .home1 .box-container1  .box {
    
    border: 0px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 300px;
    
  }
  .home1 .box-container1  img:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
  }
  
  .home1 .box-container1  .box img {
    max-width: 100%;
    height: 85%;
    border-radius: 15px;
  }
  
  .home1 .box-container1  .box h3 {
    margin-top: 15px;
    font-size: 2rem;
    
  }
  
